#hiscoin .landing:after {
    content: "";
    clear: both;
    display: table;
}
#hiscoin .landing {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 688px;
    background-image: url('../../assets/img/background.png');
    background-position: center;
    overflow: auto;
    border-radius: 8px;
}
#hiscoin .landing img {
    padding: 40px 30px;
    max-width: 550px;
    width: 40%;
    height: auto;
    float: right;
}
#hiscoin h2 {
    margin: 105px 10px 0 60px;
}
#hiscoin .landing p {
    margin: 14px 10px 0 59px;
    font-family: Biski-Regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #004AAD;
}
#hiscoin .legend>div:first-child {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
#hiscoin .legend>div>div:last-child {
    margin-top: 160px;
}
#hiscoin .legend>div>div:last-child p {
    margin: 14px 10px 0 0px;
    font-family: Biski-Regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #004AAD;
}
#hiscoin .legend>div>div {
    width: 49%;
}
#hiscoin .legend>p {
    font-family: Biski-Regular;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 56px;
    color: #004AAD;
}
#hiscoin .legend {
    margin-bottom: 100px;
    max-width: 1360px;
    margin: auto;
}

@media (max-width: 1379px) {
    #hiscoin .landing img {
        padding-top: 80px;
    }
    #hiscoin .legend {
        margin: 0 40px;
    }
}

@media (max-width: 1074px) {
    #hiscoin .legend {
        margin: 0 20px;
    }
    .landing {
        text-align: center;
    }
    .landing h2 {
        margin: 10px!important;
        line-height: 55px;
    }
    .legend h2 {
        line-height: 55px;
    }
    #hiscoin .landing img {
        padding: 20px 0 0 0;
        float: none;
        width: 30%;
    }
    #hiscoin .landing p {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #hiscoin .legend>p {
        margin-left: 20px;
        margin-right: 20px;
        /* font-size: 24px; */
    }
}

@media (max-width: 767px) {
    #hiscoin .legend>div>div {
        width: 100%;
    }
    #hiscoin h2 {
        margin-left: 0px;
        margin-right: 0px;
    }
    #hiscoin .legend>div>div:last-child p {
        margin-left: 0px;
        margin-right: 0px;
    }
    #hiscoin .legend>div>div:last-child {
        margin-top: 30px;
    }
    #hiscoin .legend>p {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 479px) {
    .landing {
        margin: 0 10px!important;
    }
    #hiscoin .legend>p {
      font-size: 1em!important;
    }
}