#hiscoin .landing .why:last-child img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
}
#hiscoin .landing .why {
    width: 45%!important;
}
#hiscoin .landing {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* background-image: url('../../assets/img/background.png'); */
    /* background-position: center; */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hiscoin .landing img {
    max-width: 550px;
    width: 80%;
    height: auto;
    float: right;
}
#hiscoin h2 {
    margin: 65px 10px 0 60px;
}
#hiscoin .landing p {
    margin: 0px 10px 0 59px;
    font-family: Biski-Regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #004AAD;
    padding-bottom: 60px;
}

.landing .why p {
    text-align: start;
    margin-left: 10px!important;
}

.legend.why {
    margin-top: 0!important;
}

.legend.why p {
    text-align: start;
    color: #004AAD;
    font-family: Biski-Regular;
    /* max-width: 540px; */
    margin-bottom: 60px;
    line-height: 26px;
}

@media (max-width: 1235px) {
    #hiscoin .landing .why:first-child {
        margin-top: 0!important;
        border-top: none!important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        order: 2;
        z-index: 10;
    }
    #hiscoin .landing .why:last-child img {
        position: relative;
        position:initial;
        transform: translate3d(0,0,0);
    }
    #hiscoin .landing .why:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none!important;
        margin-bottom: 0!important;
        order: 1;
        z-index: 1;
    }
    #hiscoin .landing .why {
        width: 100%!important;
    }
}

@media (max-width: 1074px) {
    .landing {
        text-align: center;
    }
    .landing h2 {
        margin: 10px!important;
        line-height: 55px;
    }
    #hiscoin .landing p {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    #hiscoin .landing p:last-child {
        padding-bottom: 60px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    #hiscoin h2 {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
}

@media (max-width: 479px) {
    .landing {
        margin: 0 5px 0px 5px!important;
    }
}