
#hiscoin h2 {
    margin: 65px 10px 0 60px;
}

#hiscoin .landing {
    margin: 60px 5px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hiscoin .landing h3 {
    font-size: 40px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#hiscoin .landing img {
    max-width: 350px;
    width: 95%;
    height: auto;
    margin: 40px auto 40px auto;
}

#hiscoin .landing>div:last-child {
    background-image: url("../../assets/img/background.png");
    background-position: center;
    border-radius: 8px;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hiscoin .landing>div:first-child {
    background-image: url("../../assets/img/background.png");
    background-position: center;
    border-radius: 8px;
    width: calc(55% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hiscoin .landing p {
    margin: 0px 60px 0 60px;
    font-family: Biski-Regular;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #004AAD;
    padding-bottom: 40px;
}


.legend.why {
    margin-top: 0!important;
    transform: translateX(-10px);
}

.legend.why p {
    text-align: start;
    color: #004AAD;
    font-family: Biski-Regular;
    /* max-width: 540px; */
    margin-bottom: 60px;
    line-height: 26px;
}

@media (max-width: 1379px) {
    #hiscoin .landing h3 {
        font-size: 24px;
    }
}

@media (max-width: 1235px) {
    #hiscoin .landing p {
        margin: 0 30px;
    }
    #hiscoin .landing h3 {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 1074px) {
    #hiscoin .landing h3 {
        margin-top: 0;
    }
    #hiscoin .landing>div:first-child {
        width: 100%;
        order: 2;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    #hiscoin .landing>div:last-child {
        width: 100%;
        order: 1;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}

@media (max-width: 824px) {
    #hiscoin .landing h3 {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    #hiscoin h2 {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
}

@media (max-width: 479px) {
    .landing {
        margin: 60px 5px!important;
    }
    .legend.why {
        transform: translateX(0);
    }
}