#whatsnext {
    padding-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url("../../assets/img/background.png");
    background-position: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
#whatsnext h2 {
    text-align: center;
}
#whatsnext p {
    font-family: Biski-Regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #004AAD;
    /* max-width: 780px; */
    margin: 20px 0px;
    padding: 0 60px;
    box-sizing: border-box;
    text-align: start;
}

@media (max-width: 1235px) {
    #whatsnext p {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    
}

@media (max-width: 767px) {
    #whatsnext p {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 459px) {
}