#whatsnext {
    margin-bottom: 200px;
}
#whatsnext h1 {
    text-align: center;
}
#whatsnext p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #004AAD;
    max-width: 1280px;
    margin-left: 130px;
    margin-right: 130px;
}