#whybroc * {
    text-align: center;
}
#whybroc>* {
    max-width: 823px;
    width: 100%;
    margin: auto;
}
#whybroc {
    margin-top: 80px;
}
#whybroc p {
    font-family: Biski-Regular;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #004AAD;
}
.why {
    max-width: 670px;
    width: 70%!important;
    min-height: 405px;
    border: solid 4px #004AAD;
    border-radius: 8px;
    background-image: url("../../assets/img/background.png");
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 108px 90px 186px -49px black;
    margin: 130px auto!important;
}
.why>h3 {
    margin-top: 60px;
}
.why>h3, .why>p {
    max-width: 488px;
    width: 100%;
}
.why1 {
    transform: translateX(-40px);
}
.why1 div {
    top: 0;
    left: 0;
    transform: translate3d(-50%,-50%,0) rotate(-15deg);
}
.why2 div {
    top: 0;
    right: 0;
    transform: translate3d(50%,-50%,0) rotate(15deg);
}
.why3 div {
    top: 0;
    left: 0;
    transform: translate3d(-50%,-50%,0) rotate(-15deg);
}
.why3 {
    transform: translateX(-20px);
}
.why div {
    position: absolute;
    width: 95px;
    height: 95px;
    font-family: Biski-Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 95px;
    color: white;
    background-color: #004AAD;
    border: none;
    border-radius: 50%;
    text-align: center;
}