#homepage {
    max-width: 1360px;
    margin: 0 40px 101px 40px;
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
#homepage>* {
    width: 50%;
}
#homepage h1 {
    font-family: Biski-Regular;
    font-weight: 100;
}
#homepage h1 b {
    font-family: Biski-Bold;
}
#homepage img {
    margin: 100px auto 60px 50px;
    border: solid 10px white;
    box-sizing: border-box;
    border-radius: 10px;
}
.copy button {
    width: 190px;
    height: 71px;
    font-family: Biski-Bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #004AAD;
    color: white;
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: translateY(50%);
}

@media (max-width: 1279px) {
    #homepage img {
        margin-left: 10px;
        width: 90%;
        height: auto;
    }
}

@media (max-width: 824px) {
    #homepage {
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }
    #homepage>* {
        width: 100%;
    }
    #homepage>div {
        text-align: center;
    }
    #homepage>div>img {
        margin-left: 0;
    }
    #homepage h1 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: Biski-Regular!important;
        font-weight: 100!important;
    }
}