#home {
    margin-left: 5px;
    margin-right: 5px;
}
#homepage {
    width: 100%;
    margin: 0 0 20px 0;
    /* background-image: url("../../assets/img/background.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#homepage>div:last-child {
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#homepage>div:first-child {
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: calc(55% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#homepage>div:first-child>div a {
    padding: 10px 10px;
}
#homepage>div:first-child>div {
    font-size: 3em;
    text-align: center;
}
.fa-x-twitter {
    color: black;
}
.fa-telegram {
    color: blue;
}
#homepage h2 {
    font-size: 25px;
    font-weight: 100;
    font-family: Biski-Regular;
    line-height: 40px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 0;
}
#homepage h1 {
    font-family: Biski-Regular;
    font-weight: 100;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    padding-top: 0;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#homepage h1 b {
    font-family: Biski-Bold;
}
#homepage>div:last-child img {
    max-width: 550px;
    width: 95%;
    height: auto;
    margin: 40px auto 40px auto;
    border: solid 10px white;
    box-sizing: border-box;
    border-radius: 10px;
}
.social img {
    width: 35px;
    height: 35px;
}

#home .social {
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1321px) {
    #homepage h1 {
        font-size: 40px;
    }
    #homepage h2 {
        font-size: 25px;
        margin-top: 18px;
    }
}

@media (max-width: 1279px) {
    #homepage>div:last-child img {
        width: 90%;
        height: auto;
    }
    #homepage h1 {
        font-size: 35px;
    }
    #home .social {
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #homepage>div:first-child>div a {
        padding: 10px 10px;
    }
}

@media (max-width: 890px) {
    #homepage h1 {
        font-size: 26px;
        margin-top: 0px;
        line-height: 36px;
    }
    #homepage>div:first-child {
        padding-bottom: 30px;
        width: 100%;
        order: 2;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    #homepage>div:last-child img {
        margin-bottom: 10px;
    }
    #homepage>div:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        order: 1;
        width: 100%;
    }
    #homepage>div {
        text-align: center;
    }
}

@media (max-width: 824px) {
    #homepage {
        flex-wrap: wrap;
    }
    #homepage>* {
        width: 100%;
    }
    #homepage>div {
        text-align: center;
    }
    #homepage>div>img {
        margin-left: 0;
    }
    #homepage h1 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font-family: Biski-Regular!important;
        font-weight: 100!important;
    }
}

@media (max-width: 767px) {
    #home {
        margin-top: 110px;
    }
}

@media (max-width: 673px) {
    #homepage .social {
        flex-wrap: wrap;
    }
}

@media (max-width: 520px) {
    #home {
        margin-top: 90px;
    }
}

@media (max-width: 425px) {
    #homepage h2 {
        font-size: 18px;
    }
    #home {
        margin-top: 80px;
    }
    #homepage>div:first-child>div a {
        padding: 10px 10px;
    }
}