#home {
    margin-left: 5px;
    margin-right: 5px;
}
#homepage {
    width: 100%;
    margin: 0 0 20px 0;
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
#homepage>div:last-child {
    width: 40%;
}
#homepage>div:first-child {
    width: 60%;
}
#homepage>div:first-child>div a {
    padding: 0 10px;
}
#homepage>div:first-child>div {
    font-size: 3em;
    text-align: center;
}
.fa-x-twitter {
    color: black;
}
.fa-telegram {
    color: blue;
}
#homepage h2 {
    font-size: 25px;
    font-weight: 100;
    font-family: Biski-Regular;
    line-height: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
}
#homepage h1 {
    font-family: Biski-Regular;
    font-weight: 100;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
#homepage h1 b {
    font-family: Biski-Bold;
}
#homepage>div:last-child img {
    margin: 100px auto 60px 50px;
    border: solid 10px white;
    box-sizing: border-box;
    border-radius: 10px;
}
#homepage>div:first-child img {
    width: 35px;
    height: 35px;
}

@media (max-width: 1321px) {
    #homepage h1 {
        font-size: 40px;
    }
    #homepage h2 {
        font-size: 25px;
    }
    #homepage>div:last-child img {
        margin-left: 0;
    }
}

@media (max-width: 1279px) {
    #homepage img {
        margin-left: 10px;
        width: 90%;
        height: auto;
    }
    #homepage h1 {
        margin-left: 10px;
        font-size: 35px;
    }
}

@media (max-width: 890px) {
    #homepage h1 {
        margin-left: 10px;
        font-size: 30px;
    }
}

@media (max-width: 824px) {
    #homepage {
        flex-wrap: wrap;
    }
    #homepage>* {
        width: 100%;
    }
    #homepage>div {
        text-align: center;
    }
    #homepage>div>img {
        margin-left: 0;
    }
    #homepage h1 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font-family: Biski-Regular!important;
        font-weight: 100!important;
    }
}