#video {
    max-width: 1440px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url("../../assets/img/background.png");
    background-position: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

#video h1 {
    margin: auto;
    margin-top: 24px;
    text-align: center;
}
#video>div {
    display: flex;
    justify-content: center;
}
#video video {
    max-width: 100%;
    margin-bottom: 120px;
}