@font-face {
  font-family: 'Biski-Bold';
  src: url('./assets/fonts/Biski-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Biski-Regular';
  src: url('./assets/fonts/Biski-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1440px;
  margin: auto;
  font-family: Biski-Regular;
  overflow: hidden;
}

#header h1, #footer h1, #hiscoin h1, #home h1, #story h1, #photos h1, #video h1, #whybroc h1, #whatsnext h1, #contact h1 {
  line-height: 121px;
  font-size: 64px;
  color: #004AAD;
  font-weight: 700;
  margin: 65px auto auto auto;
  font-family: Biski-Bold;
}

#header h2, #footer h2, #hiscoin h2, #home h2, #story h2, #photos h2, #video h2, #whybroc h2, #whatsnext h2, #contact h2 {
  font-size: 44px;
  font-family: Biski-Bold;
  font-weight: 700;
  line-height: 50px;
  color: #004AAD;
  padding-top: 10px;
}

#header h3, #footer h3, #hiscoin h3, #home h3, #story h3, #photos h3, #video h3, #whybroc h3, #whatsnext h3, #contact h3 {
  font-size: 28px;
  font-family: Biski-Bold;
  font-weight: 700;
  line-height: 44px;
  color: #004AAD;
}

#header h4, #footer h4, #hiscoin h4, #home h4, #story h4, #photos h4, #video h4, #whybroc h4, #whatsnext h4, #contact h4, .copy h4 {
  font-size: 24px;
  margin-left: 20px;
  color: #004AAD;
  font-family: Biski-Bold;
}

#header h5, #footer h5, #hiscoin h5, #home h5, #story h5, #photos h5, #video h5, #whybroc h5, #whatsnext h5, #contact h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #004AAD;
  font-family: Biski-Bold;
  padding-top: 5px;
}

#header h6, #footer h6, #hiscoin h6, #home h6, #story h6, #photos h6, #video h6, #whybroc h6, #whatsnext h6, #contact h6 {
  font-size: 16px;
  font-family: Biski-Bold;
}

.copy {
  max-width: 1440px;
  padding: 30px 30px;
  border-radius: 8px;
  background-image: url("./assets/img/background.png");
  background-position: center;
  font-family: Biski-Regular;
  font-size: 22px;
  font-weight: 600;
  color: #004AAD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
#home .copy {
  margin-left: 0;
  margin-right: 0;
}
.copy input:focus {
  outline: none;
}
.copy input {
  font-family: Biski-Regular;
  font-size: 22px;
  font-weight: 600;
  background: none;
  border: none;
  text-align: center;
  width: calc(100% - 370px);
  
}
.copy span {
  padding: 6px 10px;
  background-color: white;
  border-radius: 8px;
}
.copy button {
  font-family: Biski-Regular;
  font-size: 22px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #004AAD;
  padding: 5px 20px;
}
.copy button:hover {
  cursor: pointer;
}

.doc-content {
  margin: auto;
}

#home, #terms_conditions, #privacy_policy, #disclaimer-page, #contact {
  margin-top: 120px;
}

#story, #photos, #hiscoin {
  scroll-margin-top: 120px;
}

.why p {
  font-size: 20px!important;
}

.social img:hover {
  margin-top: -17px;
  margin-left: -9px;
  margin-right: -9px;
  width: 52px;
  height: 52px;
}

@media (max-width: 1379px) {
  #header h2, #footer h2, #hiscoin h2, #home h2, #story h2, #photos h2, #video h2, #whybroc h2, #whatsnext h2, #contact h2 {
    font-size: 3em;
    line-height: 60px;
  }
  .copy {
    padding: 20px 20px;
  }
  .copy input {
    font-size: 18px;
    width: calc(100% - 330px);
    
  }
  .copy span {
    padding: 10px 10px;
    font-size: 18px;
  }
  .copy button {
    font-size: 18px;
    padding: 0px 20px;
  }
}

@media (max-width: 1279px) {
  #header h1, #footer h1, #hiscoin h1, #home h1, #story h1, #photos h1, #video h1, #whybroc h1, #whatsnext h1, #contact h1 {
    font-size: 3.5em;
    line-height: 70px;
  }
  #header h2, #footer h2, #hiscoin h2, #home h2, #story h2, #photos h2, #video h2, #whybroc h2, #whatsnext h2, #contact h2 {
    /* line-height: 50px; */
  }
  #header h3, #footer h3, #hiscoin h3, #home h3, #story h3, #photos h3, #video h3, #whybroc h3, #whatsnext h3, #contact h3 {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (max-width: 459px) {
  #header h1, #footer h1, #hiscoin h1, #home h1, #story h1, #photos h1, #video h1, #whybroc h1, #whatsnext h1, #contact h1 {
    font-size: 2.5em;
    line-height: 50px;
  }
  #header h2, #footer h2, #hiscoin h2, #home h2, #story h2, #photos h2, #video h2, #whybroc h2, #whatsnext h2, #contact h2 {
    font-size: 2em;
  }
}