@font-face {
  font-family: 'Biski-Bold';
  src: url('./assets/fonts/Biski-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Biski-Regular';
  src: url('./assets/fonts/Biski-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1440px;
  margin: auto;
  font-family: Biski-Regular;
  overflow: hidden;
}

h1 {
  line-height: 121px;
  font-size: 88px;
  color: #004AAD;
  font-weight: 700;
  margin: 105px auto auto 56px;
  font-family: Biski-Bold;
}

h2 {
  font-size: 64px;
  font-family: Biski-Bold;
  font-weight: 700;
  line-height: 83.2px;
  color: #004AAD;
}

h3 {
  font-size: 32px;
  font-family: Biski-Bold;
  font-weight: 700;
  line-height: 44px;
  color: #004AAD;
}

h4 {
  font-size: 24px;
  margin-left: 20px;
  color: #004AAD;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 20px;
  color: #004AAD;
}

h6 {
  font-size: 16px;
}
